account        ${_NAME}
host           ${_SMTP}
port           587
tls            on
tls_starttls   on
tls_certcheck  off
auth           plain
from           ${_ADDR}
user           ${_USER}
password       ${_PASSWORD}
