[database]
path=/home/mackie/.maildir

[user]
name=Takashi Makimoto
primary_email=${_PRIMARY_ADDR}
other_email=${_SECONDARY_ADDR}

[new]
tags=new;
ignore=.mbsyncstate;.uidvalidity

[search]
exclude_tags=deleted;spam;

[maildir]
synchronize_flags=true
